<div class="voucher-container p-10 bg-[#FCFCFC]">
  <h2>Payment Voucher</h2>

  <div *ngIf="voucherData">
    <!-- Top Info Section -->
    <div class="row">
      <div class="column">
        <p><strong>Voucher No:</strong> {{ voucherData.voucherNo }}</p>
      </div>
      <div class="column">
        <p><strong>Payment Date:</strong> {{ voucherData.paymentDate }}</p>
      </div>
    </div>

    <!-- Catering Info Section -->
    <div class="row">
      <div class="column">
        <p>
          <strong>Catering Service Name:</strong>
          {{ voucherData?.restaurantName }}
        </p>
      </div>
      <div class="column">
        <p><strong>Invoice Period:</strong> {{ voucherData.invoiceFor }}</p>
      </div>
    </div>

    <!-- Table Section -->
    <h4>Voucher Details:</h4>
    <table>
      <thead>
        <tr>
          <th>Sr. No.</th>
          <th>Date</th>
          <th>No. of Pax</th>
          <th>Price</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of voucherData.rows; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ service.dt }}</td>
          <td>{{ service.qty }}</td>
          <td>{{ service.price || 0 }}</td>
          <td>{{ service.amount }}</td>
        </tr>
        <tr class="bg-gray-100 font-semibold text-gray-700">
          <td class="py-2 px-4"></td>
          <td class="py-2 px-4"></td>
          <td class="py-2 px-4"></td>
          <td class="py-2 px-4 text-right">Total</td>
          <td class="py-2 px-4">{{ totalAmount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="voucherData">
    <div class="row">
      <div class="column">
        <label for="approvedBy" class="w-40 inline-block">Approved By:</label>
        <select
          [(ngModel)]="voucherData.approvedBy"
          class="text-md"
          id="approvedBy"
          name="voucherData.approvedBy"
          [disabled]="readonly"
          class="disabled:bg-[#f0efef]"
          *ngIf="!readonly"
          required
        >
          <option *ngFor="let admin of admins" [value]="admin.name">
            {{ admin.name }}
          </option>
        </select>
        <input
          type="text"
          disabled="true"
          class="disabled:bg-[#f0efef]"
          [(ngModel)]="voucherData.approvedBy"
          *ngIf="readonly"
        />
      </div>
    </div>
    <div class="column mb-4">
      <p>
        <label class="w-40 inline-block">Cashier By: </label>
        <input
          type="text"
          disabled="true"
          class="disabled:bg-[#f0efef]"
          [(ngModel)]="voucherData.cashier"
        />
      </p>
    </div>
    <div>
      <div class="column mb-6">
        <p>
          <label class="w-40 inline-block">Received By: </label>
          <input
            type="text"
            [disabled]="readonly"
            class="disabled:bg-[#f0efef]"
            [(ngModel)]="voucherData.receivedBy"
          />
        </p>
      </div>
      <div>
        <div class="column flex">
          <label class="w-40 inline-block">Status:</label>
          <div class="flex items-center gap-6">
            <!-- Paid Radio -->
            <label
              class="inline-flex items-center gap-2 cursor-pointer"
              [ngClass]="readonly ? 'opacity-50 cursor-not-allowed' : ''"
            >
              <input
                type="radio"
                name="status"
                value="PAID"
                class="w-4 h-4 text-blue-500 border-gray-300 focus:ring-blue-500 disabled:cursor-not-allowed"
                [disabled]="readonly"
                [(ngModel)]="voucherData.status"
              />
              <span class="text-sm font-medium text-gray-700">Paid</span>
            </label>

            <!-- Unpaid Radio -->
            <label
              class="inline-flex items-center gap-2 cursor-pointer"
              [ngClass]="readonly ? 'opacity-50 cursor-not-allowed' : ''"
            >
              <input
                type="radio"
                name="status"
                value="UNPAID"
                class="w-4 h-4 text-red-500 border-gray-300 focus:ring-red-500 disabled:cursor-not-allowed"
                [disabled]="readonly"
                [(ngModel)]="voucherData.status"
              />
              <span class="text-sm font-medium text-gray-700">Unpaid</span>
            </label>
          </div>
        </div>
      </div>
      <div class="mt-10 mb-6 flex gap-6 justify-end">
        <button
          (click)="navigateBack()"
          class="bg-transparent border-2 border-[#999999] text-[#000] px-6 py-2.5"
        >
          Back
        </button>
        <button
          *ngIf="!readonly"
          (click)="onSubmit()"
          class="btn btn-primary text-white bg-[#4caf50] hover:bg-[#45a049] px-6 py-2.5"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
