<div class="voucher-container p-10">
  <h2>Payment Voucher</h2>

  <div *ngIf="voucherData">
    <!-- Top Info Section -->
    <div class="row">
      <div class="column">
        <p><strong>Voucher No:</strong> {{ voucherData.voucherNo }}</p>
      </div>
      <div class="column">
        <p><strong>Payment Date:</strong> {{ voucherData.paymentDate }}</p>
      </div>
    </div>

    <!-- Catering Info Section -->
    <div class="row">
      <div class="column">
        <p>
          <strong>Catering Service Name:</strong>
          {{ voucherData?.restaurantName }}
        </p>
      </div>
      <div class="column">
        <p><strong>Invoice Period:</strong> {{ voucherData.invoiceFor }}</p>
      </div>
    </div>

    <!-- Table Section -->
    <h4>Voucher Details:</h4>
    <table>
      <thead>
        <tr>
          <th>Sr. No.</th>
          <th>Date</th>
          <th>No. of Pax</th>
          <th>Price</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of voucherData.rows; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ service.dt }}</td>
          <td>{{ service.qty }}</td>
          <td>{{ service.price || 0 }}</td>
          <td>{{ service.amount }}</td>
        </tr>
        <tr class="bg-gray-100 font-semibold text-gray-700">
          <td class="py-2 px-4"></td>
          <td class="py-2 px-4"></td>
          <td class="py-2 px-4"></td>
          <td class="py-2 px-4 text-right">Total</td>
          <td class="py-2 px-4">{{ totalAmount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="voucherData">
    <div class="row">
      <div class="column">
        <label for="approvedBy" class="w-40 inline-block">Approved By:</label>
        <select
          [(ngModel)]="voucherData.approvedBy"
          class="text-md"
          id="approvedBy"
          name="voucherData.approvedBy"
          required
        >
          <option *ngFor="let admin of admins" [value]="admin.name">
            {{ admin.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="column mb-4">
      <p>
        <label class="w-40 inline-block">Cashier By: </label>
        <input
          type="text"
          disabled="true"
          class="disabled:bg-[#f0efef]"
          [(ngModel)]="voucherData.cashier"
        />
      </p>
    </div>
    <div>
      <div class="column mb-6">
        <p>
          <label class="w-40 inline-block">Received By: </label>
          <input
            type="text"
            class="disabled:bg-[#f0efef]"
            [(ngModel)]="voucherData.receivedBy"
          />
        </p>
      </div>
      <div>
        <div class="column">
          <label class="w-40 inline-block">Status:</label>
          <label class="inline-flex items-center gap-1">
            <input
              type="radio"
              name="status"
              value="PAID"
              [(ngModel)]="voucherData.status"
            />
            Paid
          </label>
          <label class="inline-flex items-center gap-1 ml-6">
            <input
              type="radio"
              name="status"
              value="UNPAID"
              [(ngModel)]="voucherData.status"
            />
            Unpaid
          </label>
        </div>
      </div>
      <div class="mt-10 mb-6 flex justify-end">
        <button (click)="onSubmit()" class="btn btn-primary">
          Update Voucher
        </button>
      </div>
    </div>
  </div>
</div>
