<div>
  <div class="flex justify-between items-center mb-3">
    <h3 class="text-md font-semibold mb-4">All Announcements</h3>
    <div
      class="flex md:order-2 gap-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
    >
      <button
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Create Announcement
      </button>
    </div>
  </div>
  <div class="pb-6">
    <app-annoucement-card></app-annoucement-card>
  </div>
  <div class="pb-6">
    <app-annoucement-card></app-annoucement-card>
  </div>
  <div class="pb-6">
    <app-annoucement-card></app-annoucement-card>
  </div>
  <div class="pb-6">
    <app-annoucement-card></app-annoucement-card>
  </div>
</div>
