<div class="flex gap-4">
  <div class="">
    <h3 class="text-md font-semibold mb-4">My Profile</h3>
    <div>
      <div class="flex justify-center mt-10 relative">
        <div class="w-[120px] h-[120px]">
          <img
            *ngIf="!previewImg && !user.imgUrl"
            src="assets/default-profile.png"
            class="w-full h-full object-center object-cover rounded-full"
            alt=""
            (mouseenter)="setOverlay(true)"
          />
          <img
            *ngIf="!previewImg && user.imgUrl"
            [src]="user.imgUrl"
            class="w-full h-full object-center object-cover rounded-full"
            alt=""
            (mouseenter)="setOverlay(true)"
          />
          <img
            *ngIf="previewImg"
            [src]="previewImg"
            class="w-full h-full object-center object-cover rounded-full"
            alt=""
            (mouseenter)="setOverlay(true)"
          />
        </div>
        <div
          *ngIf="showOverlay"
          (click)="triggerFileInput()"
          class="w-[120px] h-[120px] z-50 bg-[#00000054] absolute rounded-full duration-1000"
          (mouseleave)="setOverlay(false)"
        >
          <div class="flex justify-center items-center h-full">
            <ng-icon
              name="ionCloudUploadOutline"
              class="text-white text-2xl cursor-pointer"
            ></ng-icon>
          </div>
        </div>
        <input
          type="file"
          id="fileInput"
          class="hidden"
          (change)="onFileSelected($event)"
        />
      </div>
      <div class="mt-4">
        <button
          (click)="saveProfileImage()"
          [disabled]="previewImg == null"
          class="bg-[#4caf50] hover:bg-[#45a049] disabled:bg-[#264f7754] block text-white text-sm font-light mx-auto h-8 w-16 rounded-md"
        >
          Save
        </button>
      </div>
    </div>
  </div>
  <form class="profile-form pt-6 px-8 min-w-[50%]">
    <div class="border shadow-md rounded-md px-8 pt-10 pb-14 mb-5">
      <h6 class="text-[#696969] block text-[15px] font-bold mb-8">
        Your Information
      </h6>
      <div class="flex items-center gap-8 mb-8">
        <label class="text-[#696969] text-sm w-[50%]">Staff ID</label>
        <input
          type="text"
          name="staffId"
          [(ngModel)]="user.staffId"
          required
          readonly
          class="block w-full bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
      <div class="flex items-center gap-8 mb-8">
        <label class="text-[#696969] text-sm w-[50%]">Name</label>
        <input
          type="text"
          name="name"
          [(ngModel)]="user.name"
          required
          readonly
          class="block w-full bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
      <div class="flex items-center gap-8 mb-8">
        <label class="text-[#696969] text-sm w-[50%]">Door Log No</label>
        <input
          type="text"
          name="doorLogNo"
          [(ngModel)]="user.doorLogNo"
          required
          readonly
          class="block w-full bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
      <div class="flex items-center gap-8 mb-8">
        <label class="text-[#696969] text-sm w-[50%]">Email</label>
        <input
          type="text"
          name="email"
          [(ngModel)]="user.email"
          required
          readonly
          class="block w-full bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
      <div class="flex items-center gap-8 mb-8">
        <label class="text-[#696969] text-sm w-[50%]">Division</label>
        <input
          type="text"
          name="division"
          [(ngModel)]="user.division"
          required
          readonly
          class="block w-full bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
      <div class="flex items-center gap-8 mb-8">
        <label class="text-[#696969] text-sm w-[50%]">Department</label>
        <input
          type="text"
          name="department"
          [(ngModel)]="user.department"
          required
          readonly
          class="block w-full bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
      <div class="flex items-center gap-8">
        <label class="text-[#696969] text-sm w-[50%]">Team</label>
        <input
          type="text"
          name="team"
          [(ngModel)]="user.team"
          required
          readonly
          class="block w-full bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
    </div>
    <!-- <div class="border shadow-md rounded-md px-8 py-8 mb-5">
      <h6 class="text-[#696969] block text-sm font-bold mb-5">
        User Preference
      </h6>
      <div class="flex items-center gap-8 mb-8">
        <label class="text-[#696969] text-sm w-[50%]">Avoid Meat</label>
        <input
          type="text"
          name="staffId"
          required
          readonly
          class="block w-full bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
      <div class="flex gap-[25%]">
        <div class="">
          <span class="text-[#696969] text-sm dark:text-gray-300 mb-2 block"
            >Received Mail</span
          >
          <div>
            <label class="inline-flex items-center cursor-pointer">
              <input
                type="checkbox"
                value=""
                class="sr-only peer"
                disabled="viewMode"
              />
              <div
                class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
              ></div>
            </label>
          </div>
        </div>
        <div class="">
          <span class="text-[#696969] text-sm dark:text-gray-300 mb-2 block"
            >Vegetarian</span
          >
          <div>
            <label class="inline-flex items-center cursor-pointer">
              <input
                type="checkbox"
                value=""
                class="sr-only peer"
                [disabled]="viewMode"
              />
              <div
                class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full disabled:peer-checked:bg-black peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600"
                [ngClass]="
                  viewMode
                    ? 'peer-checked:bg-blue-300'
                    : 'peer-checked:bg-blue-600'
                "
              ></div>
            </label>
          </div>
        </div>
      </div>
      <div class="flex justify-end gap-4 mt-8 mb-4">
        <button
          class="w-[25%] bg-transparent hover:bg-[#adadad1e] rounded-full text-[#888888] border-2 border-[#CDCDCD] text-sm py-[8px]"
          *ngIf="!viewMode"
          (click)="toggleMode(true)"
        >
          Cancel
        </button>
        <button
          *ngIf="viewMode"
          class="w-[25%] bg-[#336699] hover:bg-[#2c5a88] rounded-full text-white text-sm py-[8px]"
          (click)="toggleMode(false)"
        >
          Edit
        </button>
        <button
          *ngIf="!viewMode"
          class="w-[25%] bg-[#336699] hover:bg-[#2c5a88] rounded-full text-white text-sm py-[8px]"
          (click)="toggleMode(true)"
        >
          Update
        </button>
      </div>
    </div> -->
  </form>
</div>
