<div class="flex gap-4">
  <div class="">
    <h3 class="text-md font-semibold mb-4">My Profile</h3>
    <img src="assets/profile-lg.png" class="w-40" />
  </div>
  <form class="profile-form pt-6 px-8 min-w-[50%]">
    <div class="border-2 rounded-md px-8 py-8 mb-5">
      <h6 class="text-[#696969] block text-sm font-bold mb-5">
        Staff Information
      </h6>
      <div class="flex items-center gap-8 mb-8">
        <label class="text-[#696969] text-sm w-[30%]">Staff ID</label>
        <input
          type="text"
          name="staffId"
          required
          readonly
          class="block w-full bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
      <div class="flex items-center gap-8 mb-8">
        <label class="text-[#696969] text-sm w-[30%]">Name</label>
        <input
          type="text"
          name="staffId"
          required
          readonly
          class="block w-full bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
      <div class="flex items-center gap-8 mb-8">
        <label class="text-[#696969] text-sm w-[30%]">Door Log No</label>
        <input
          type="text"
          name="staffId"
          required
          readonly
          class="block w-full bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
      <div class="flex items-center gap-8 mb-8">
        <label class="text-[#696969] text-sm w-[30%]">Email</label>
        <input
          type="text"
          name="staffId"
          required
          readonly
          class="block w-full bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
      <div class="flex items-center gap-8 mb-8">
        <label class="text-[#696969] text-sm w-[30%]">Division</label>
        <input
          type="text"
          name="staffId"
          required
          readonly
          class="block w-full bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
      <div class="flex items-center gap-8 mb-8">
        <label class="text-[#696969] text-sm w-[30%]">Department</label>
        <input
          type="text"
          name="staffId"
          required
          readonly
          class="block w-full bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
      <div class="flex items-center gap-8">
        <label class="text-[#696969] text-sm w-[30%]">Team</label>
        <input
          type="text"
          name="staffId"
          required
          readonly
          class="block w-full bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
    </div>
    <div class="border-2 rounded-md px-8 py-8 mb-5">
      <h6 class="text-[#696969] block text-sm font-bold mb-5">
        User Preference
      </h6>
      <div class="flex items-center gap-8 mb-8">
        <label class="text-[#696969] text-sm w-[30%]">Avoid Meat</label>
        <input
          type="text"
          name="staffId"
          required
          readonly
          class="block w-full bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
      <div class="flex items-center gap-8 mb-8">
        <span class="text-[#696969] text-sm dark:text-gray-300"
          >Received Mail</span
        >
        <label class="inline-flex items-center cursor-pointer">
          <input type="checkbox" value="" class="sr-only peer" />
          <div
            class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
          ></div>
        </label>
      </div>
    </div>
  </form>
</div>
