<div class="flex gap-4">
  <div>
    <h3 class="text-md font-semibold mb-4">My Profile</h3>
    <img src="assets/profile-lg.png" class="w-40" />
  </div>
  <form class="profile-form pt-6 px-8">
    <div class="border rounded-md px-8 py-8 mb-5">
      <h6 class="text-[#696969] block text-sm font-bold mb-5">
        Staff Information
      </h6>
      <div class="flex items-center gap-8 mb-8">
        <label class="text-[#696969] text-sm w-[40%]">Staff ID</label>
        <input
          type="text"
          name="staffId"
          required
          readonly
          class="block bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
      <div class="flex items-center gap-8 mb-8">
        <label class="text-[#696969] text-sm w-[40%]">Name</label>
        <input
          type="text"
          name="staffId"
          required
          readonly
          class="block bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
      <div class="flex items-center gap-8 mb-8">
        <label class="text-[#696969] text-sm w-[40%]">Door Log No</label>
        <input
          type="text"
          name="staffId"
          required
          readonly
          class="block bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
      <div class="flex items-center gap-8 mb-8">
        <label class="text-[#696969] text-sm w-[40%]">Email</label>
        <input
          type="text"
          name="staffId"
          required
          readonly
          class="block bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
      <div class="flex items-center gap-8 mb-8">
        <label class="text-[#696969] text-sm w-[40%]">Division</label>
        <input
          type="text"
          name="staffId"
          required
          readonly
          class="block bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
      <div class="flex items-center gap-8 mb-8">
        <label class="text-[#696969] text-sm w-[40%]">Department</label>
        <input
          type="text"
          name="staffId"
          required
          readonly
          class="block bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
      <div class="flex items-center gap-8">
        <label class="text-[#696969] text-sm w-[40%]">Team</label>
        <input
          type="text"
          name="staffId"
          required
          readonly
          class="block bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
        />
      </div>
    </div>
    <div class="border rounded-md px-8 py-8 mb-5">
        <h6 class="text-[#696969] block text-sm font-bold mb-5">
          User Preference
        </h6>
        <div class="flex items-center gap-8">
          <label class="text-[#696969] text-sm w-[40%]">Avoid Meat</label>
          <input
            type="text"
            name="staffId"
            required
            readonly
            class="block bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
          />
        </div>
      </div>
  </form>
</div>
