<div class="bg-white rounded-md text-center">
    <div class="flex justify-center border-b-2 mx-4 py-4 mb-3">
        <h4 class="uppercase">Monday</h4>
    </div>
    <div class="pb-3">
        <h6 class="font-semibold mb-5">Oct 14, 2024</h6>
        <div>
            <span class="block mb-3">Tom Yum Soup</span>
            <span class="block mb-3">Stir-fried vegetables</span>
            <span class="block mb-3">Tofu Salad</span>
            <span class="block mb-3">Prawn Curry</span>
        </div>
    </div>
</div>