<div>
    <h3 class="text-lg font-medium mb-5">Add Restaurant Information</h3>
    <form
      #restaurantForm="ngForm"
      (ngSubmit)="onSubmit(restaurantForm)"
      novalidate
      class="rest-form md:w-[50%]"
    >
      <div class="flex gap-6 mb-8">
        <input type="hidden" name="adminId" [(ngModel)]="adminId" />
        <div class="w-[50%]">
          <label class="text-[#696969] mb-1 block text-sm">Name</label>
          <input
            type="text"
            name="name"
            [(ngModel)]="restaurant.name"
            required
            #nameInput="ngModel"
            class="block w-full bg-[#FCFCFC] border-0 h-10 rounded-sm"
          />
          <div *ngIf="nameInput.invalid && nameInput.touched">
          <small *ngIf="nameInput.errors?.['required']">Name is required</small>
        </div>
        </div>
        <div class="w-[50%]">
          <label class="text-[#696969] mb-1 block text-sm">Address</label>
          <input
            type="text"
            name="address"
            #addressInput="ngModel"
            required
            [(ngModel)]="restaurant.address"
            class="block w-full bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
          />
          <div *ngIf="addressInput.invalid && addressInput.touched">
            <small *ngIf="addressInput.errors?.['required']">Address is required</small>
          </div>
        </div>
      </div>
      <div class="flex gap-6 mb-8">
        <div class="w-[50%]">
          <label class="text-[#696969] mb-1 block text-sm">Content</label>
          <input
            type="text"
            name="contact"
            required
            #contactInput="ngModel"
            [(ngModel)]="restaurant.contact"
            class="block w-full bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
          />
          <div *ngIf="contactInput.invalid && contactInput.touched">
            <small *ngIf="contactInput.errors?.['required']"
              >Content is required</small
            >
          </div>
        </div>
        <div class="w-[50%]">
          <label class="text-[#696969] mb-1 block text-sm">Email</label>
          <input
            type="email"
            name="email"
            required
            #emailInput="ngModel"
            [(ngModel)]="restaurant.email"
            class="block w-full bg-[#FCFCFC] border-0 h-10 rounded-sm read-only:bg-[#fcfcfc88]"
          />
          <div *ngIf="emailInput.invalid && emailInput.touched">
            <small *ngIf="emailInput.errors?.['required']"
              >Email is required</small
            >
          </div>
        </div>
      </div>
      
    
      <div class="flex justify-end gap-4 my-10">
        <button
          (click)="backToRestaurantList()"
          class="w-[25%] bg-transparent hover:bg-[#adadad1e] rounded-full text-[#888888] border-2 border-[#CDCDCD] py-[10px]"
        >
          Cancel
        </button>
        <button
          type="submit"
          [disabled]="restaurantForm.invalid"
          class="w-[25%] bg-[#336699] hover:bg-[#2c5a88] disabled:bg-slate-400 rounded-full text-white py-[10px]"
        >
          Save
        </button>
      </div>
    </form>
  </div>
  