<div class="flex flex-col h-screen">
  <div class="w-full">
    <div class="my-4">
      <a routerLink="/">
        <img src="assets/logo.png" class="w-[100px] mx-auto" />
      </a>
    </div>
    <div class="ml-8 text-[#707070]">
      <div>
        <a
          class="px-4 py-4 w-full rounded-tl-xl rounded-bl-xl inline-flex items-center pl-[20%] gap-2 transition-colors duration-300 hover:bg-blue-50"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <ng-icon name="ionHome"></ng-icon>
          <span>Dashboard</span>
        </a>
      </div>
      <div>
        <a
          class="px-4 py-4 w-full rounded-tl-xl rounded-bl-xl inline-flex items-center pl-[20%] gap-2 transition-colors duration-300 hover:bg-blue-50"
          routerLink="/lunch"
          routerLinkActive="active"
        >
          <ng-icon name="ionCalendar"></ng-icon>
          <span>Lunch</span>
        </a>
      </div>
      <div>
        <a
          class="px-4 py-4 w-full rounded-tl-xl rounded-bl-xl inline-flex items-center pl-[20%] gap-2 transition-colors duration-300 hover:bg-blue-50"
          routerLink="/admin-lunch"
          routerLinkActive="active"
        >
          <ng-icon name="ionCalendar"></ng-icon>
          <span>Admin-Lunch</span>
        </a>
      </div>
      <div>
        <a
          class="px-4 py-4 w-full rounded-tl-xl rounded-bl-xl inline-flex items-center pl-[20%] gap-2 transition-colors duration-300 hover:bg-blue-50"
          routerLink="/report"
          routerLinkActive="active"
        >
          <ng-icon name="ionDocumentTextSharp"></ng-icon>
          <span>Report</span>
        </a>
      </div>
      <div>
        <a
          class="px-4 py-4 w-full rounded-tl-xl rounded-bl-xl inline-flex items-center pl-[20%] gap-2 transition-colors duration-300 hover:bg-blue-50"
          routerLink="/admin/holiday"
          routerLinkActive="active"
        >
          <ng-icon name="ionCalendar"></ng-icon>
          <span>Holiday</span>
        </a>
      </div>

      <div>
        <a
          class="px-4 py-4 w-full rounded-tl-xl rounded-bl-xl inline-flex items-center pl-[20%] gap-2 transition-colors duration-300 hover:bg-blue-50"
          routerLink="/profile"
          routerLinkActive="active"
        >
          <ng-icon name="ionPerson"></ng-icon>
          <span>Profile</span>
        </a>
      </div>
    </div>
    
  </div>
  <div></div>
</div>
