<div>
  <h3 class="text-md font-semibold mb-4">Lunch Registration</h3>
  <div class="flex mt-8 justify-center">
    <div
      class="bg-[#174572] w-[350px] rounded-tl-[8px] rounded-bl-[8px] relative"
    >
      <div class="absolute left-1/2 transform -translate-x-1/2 top-4"></div>
      <div class="inline-flex justify-center items-center w-full h-full">
        <div>
          <h4 class="mb-12 text-[#E2F1FF] font-medium text-[15px] flex">
            <span class="min-w-[135px]">Price Per Lunch</span>
            <span class="w-[30px]"> - </span>
            <span> MMK {{ lunchPrice || 0 }}</span>
          </h4>
          <h4 class="mb-12 text-[#E2F1FF] font-medium text-[15px] flex">
            <span class="min-w-[135px]">Registered Lunch</span>
            <span class="w-[30px]"> - </span>
            <span>{{ registeredDates }} days</span>
          </h4>

          <h4 class="text-[#E2F1FF] font-medium text-[15px] flex">
            <span class="min-w-[135px]">Your Cost</span>
            <span class="w-[30px]"> - </span>
            <span> MMK {{ userMonthlyCost || 0 }}</span>
          </h4>
          <!-- <h4 class="text-[#E2F1FF] font-medium text-[15px] flex">
            <span class="min-w-[135px]">Company Cost</span>
            <span class="w-[30px]"> - </span>
            <span> MMK {{ companyCost }}</span>
          </h4> -->
        </div>
      </div>
    </div>

    <div class="calendar-container bg-[#ffffffd2]" id="calendar">
      <div class="calendar-header bg-[#ffffffd2] border-b mx-3 mb-3">
        <div
          class="prev-button"
          (click)="goToPreviousMonth()"
          [ngClass]="{ disabled: isFirstMonth() }"
        >
          &lt;
        </div>
        
        <h1 class="calendar-title">{{ currentMonth | date : "MMMM yyyy" }}</h1>
        <div
          class="next-button"
          (click)="goToNextMonth()"
          [ngClass]="{ disabled: !isLastWeekOfMonth() }"
        >
          &gt;
        </div>
      </div>

      <div class="calendar-body">

        <div class="day-names">
          <div>Sun</div>
          <div>Mon</div>
          <div>Tue</div>
          <div>Wed</div>
          <div>Thu</div>
          <div>Fri</div>
          <div>Sat</div>
        </div>
        <div class="calendar-grid">
          <div
            class="day"
            *ngFor="let empty of getEmptyDaysBefore(currentMonth)"
          >
            <div class="empty-day"></div>
          </div>
          <div
            class="day"
            *ngFor="let date of currentMonthDates"
            [ngClass]="{
    selected: isDateSelected(date) && !isPublicHoliday(date),
    weekend: isWeekend(date),
    'past-day': isBeforeOrToday(date),
    'past-weekend': isWeekend(date) ,
    today : isToday(date),
    'public-holiday': isPublicHoliday(date),
    'not-selectable': !isDateSelectable(date),  


  }"
  
            (click)="toggleDate(date)"
          >
          
            <div class="date-container">

              <span class="date">{{ date.getDate() }}</span>
              <!-- <span *ngIf="isRegistered(date)" class="registered-text">registered</span> -->
            </div>

            <input
              type="checkbox"
              [checked]="isDateSelected(date)"
              (change)="toggleDate(date)"
              [disabled]="
                isWeekend(date) ||
                isBeforeOrToday(date) ||
                isPublicHoliday(date) ||
                !isDateSelectable(date)
              "
              style="display: none"
            />
          </div>
        </div>
      </div>

      <div class="register-box flex justify-between mx-[30px]">
        <div class="text-sm font-medium my-4 mb-6">
          <p *ngIf="settings?.lastRegisterDay && settings?.lastRegisterTime">
            <span class="text-gray-700">Last Registration Time:</span>
            {{ settings?.lastRegisterDay }} at {{ settings?.lastRegisterTime }}
          </p>
          <p
            *ngIf="!settings?.lastRegisterDay || !settings?.lastRegisterTime"
            class="text-red-500"
          >
            Registration details not available.
          </p>
          <div class="flex gap-3 mt-2">
            <div class="flex items-center gap-1">
              <div class="bg-[#174572] w-3 h-3"></div>
              <span class="text-sm text-black/90">Registered</span>
            </div>
            
            <div class="flex items-center gap-1">
              <div class="bg-[#FFD700] w-3 h-3"></div>
              <span class="text-sm text-black/90">Public Holiday</span>
            </div>
          </div>
        </div>
        <div *ngIf="isNextMonthView">
          <p>
            Registration for next month is now closed. Please try again next
            month.
          </p>
        </div>
        <button class="register-button" (click)="handleRegistrationClick()">
          Register
        </button>
        <button (click)="unselectAllDates()">Unselect All</button>

      </div>
    </div>
  </div>
  <!-- Vegan Modal -->
  <div *ngIf="showVeganModal" class="modal">
    <div class="modal-content">
      <p>Are you a vegan?</p>
      <div class="vegan-buttons">
        <button (click)="setVegan(true)">Yes</button>
        <button (click)="setVegan(false)">No</button>
      </div>
    </div>
  </div>

  <!-- Meat Selection Modal -->
  <div *ngIf="showMeatModal" class="modal">
    <div class="modal-content">
      <p>Select the meats you avoid:</p>
      <div *ngFor="let meat of meats">
        <input
          type="checkbox"
          [value]="meat.id"
          (change)="toggleMeatSelection(meat)"
        />
        {{ meat.name }}
      </div>
      <div class="meat-buttons">
        <button (click)="submitAvoidedMeats()">Save</button>
        <button (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
