<div
  class="relative cursor-pointer"
  id="dropdownNotificationButton"
  data-dropdown-toggle="dropdownNotification"
>
  <ng-icon name="ionNotifications" class="text-2xl"></ng-icon>
  <span
    class="bg-red-500 text-white rounded-full w-4 h-4 inline-flex justify-center items-center text-sm absolute bottom-5 left-4"
    >{{ unreadCount }}</span
  >
</div>

<div
  id="dropdownNotification"
  class="z-20 hidden w-full max-w-sm bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-800 dark:divide-gray-700"
  aria-labelledby="dropdownNotificationButton"
>
  <div
    class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg bg-gray-50 dark:bg-gray-800 dark:text-white"
  >
    Feedbacks
  </div>

  <div class="divide-y divide-gray-100 dark:divide-gray-700">
    <!-- Loop through latestFeedbacks -->
    <ng-container>
      <a (click)="navigateToSuggestionList()"
        class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700"
      >
        <div class="w-full">
          <div class="text-gray-900 font-semibold dark:text-white">
            <!-- {{ feedback.title }} -->
          </div>
          <div class="text-gray-500 text-sm dark:text-gray-400">
            <!-- Submitted by {{ feedback.username }} -->
          </div>
        </div>
      </a>
    </ng-container>
  </div>

  <a
    routerLink="/admin/feedbacks"
    class="block py-2 text-sm font-medium text-center text-gray-900 rounded-b-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white"
  >
    <div class="inline-flex items-center">
      <svg
        class="w-4 h-4 mr-2 text-gray-500 dark:text-gray-400"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 14"
      >
        <path
          d="M10 0C4.612 0 0 5.336 0 7c0 1.742 3.546 7 10 7 6.454 0 10-5.258 10-7 0-1.664-4.612-7-10-7Zm0 10a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z"
        />
      </svg>
      View all
    </div>
  </a>
</div>
