<div class="bg-white p-4 rounded-md">
  <div class="flex gap-4">
    <img
      class="w-12 h-12 rounded object-contain border"
      src="assets/logo.png"
      alt="Medium avatar"
    />
    <div>
      <div class="mb-3">
        <h3 class="font-semibold">Announcement: Special Lunch on Friday</h3>
      <span class="text-sm text-[#797979]">30 minutes ago</span>
      </div>
      <div class="mb-3">
        <p class="leading-relaxed">Dear All Staff, We are pleased to inform you that this Friday, there will be a Special Lunch organized for all employees, courtesy of DIR ACE Technology Company. We want to take this opportunity to show our appreciation for your hard work and dedication.</p>
      </div>
    </div>
  </div>
</div>
