<div class="flex justify-center items-center h-screen login">
  <div class="container px-8 py-10" style="margin-top:10%">
    <h3 class="mb-4 text-center text-[#444444]">Reset Password</h3>
  
    <form (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm">
      <div class="form-group">
        <label class="text-[#696969] text-sm" for="newPassword">New Password:</label>
        <input 
          type="password" 
          id="newPassword" 
          [(ngModel)]="newPassword" 
          name="newPassword" 
          required 
          minlength="6" 
          class="form-control"
        />
      </div>
  
      <div class="form-group">
        <label class="text-[#696969] text-sm" for="confirmPassword">Confirm Password:</label>
        <input 
          type="password" 
          id="confirmPassword" 
          [(ngModel)]="confirmPassword" 
          name="confirmPassword" 
          required 
          minlength="6" 
          class="form-control"
          (input)="checkPasswords()"
        />
        <div *ngIf="passwordMismatch" class="text-danger alert alert-danger">
          Passwords do not match.
        </div>
      </div>
  
      <button 
        type="submit" 
        class="btn btn-primary mt-4" 
        [disabled]="resetPasswordForm.invalid || passwordMismatch">
        Reset Password
      </button>
    </form>
  
    <app-modal
    [message]="successMessage"
    [isVisible]="isModalVisible"
    (okClick)="onModalOkClick()"
  ></app-modal>
  </div>
</div>


